{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="section-heading">
        <h3>Add Project</h3>
        <span>Showcase your latest work</span>
    </div>

    <form class="contact--form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}
